body {
  margin: 0;
  height: 100%;
}

.container {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

#searches {
  padding: 10px;
  background-color: #e6e8e8;
  height: 100%;
}

#buttons-view {
  width: 12rem;
}

#city-view {
  flex-direction: column;
  padding: 20px;
}

.favorable {
  background-color: green;
}

.moderate {
  background-color: yellow;
}
.severe {
  background-color: red;
}

.fiveday {
  margin: 10px;
}

.day {
  background-color: royalblue;
  color: white;
  margin: 20px;
}
